.schedule-call-sec {
    padding-block: 120px;
}

.calender-box {
    padding: 30px;
    border-radius: 24px;
    border: 1px solid #F1F5F9;
    box-shadow: 0 20px 25px -5px #e2e8f080, 0 8px 10px -6px #e2e8f080;
}

.call-rev-img {
    width: 64px;
    aspect-ratio: 1;
    object-fit: cover;
}

.call-rev-box {
    padding: 25px;
    border-radius: 24px;
    border: 1px solid #F1F5F9;
    box-shadow: 0 1px 2px 0 #0000000d;
}

.call-rev-video-box {
    border-radius: 24px;
    aspect-ratio: 1.8;
}

.call-rev-box h4 {
    font-size: 18px;
}

.call-rev-video-box img {
    object-fit: cover;
}

.call-rev-swiper {
    height: 580px;
}

@media (min-width: 768px) {
    .call-rev-swiper {
        height: 762px;
    }
}

.call-rev-swiper:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to bottom, #fff 0%, #fff0 15%, #fff0 85%, #fff 100%);
}

.call-rev-swiper .swiper-wrapper {
    transition-timing-function: linear !important;
}

.call-rev-swiper .swiper-slide {
    height: auto !important;
}

.call-rev-overlay {
    bottom: 0px;
    left: 0px;
    padding-inline: 20px;
    padding-bottom: 10px;
    background: linear-gradient(180deg, #00000000 0%, #00000099 100%);
}

@media (max-width:991px) {
    .schedule-call-sec {
        padding-block: 90px;
    }

    .call-rev-video-box {
        aspect-ratio: 1;
    }
}

@media (max-width:767px) {
    .schedule-call-sec {
        padding-block: 70px;
    }

    .calender-box {
        padding: 10px;
    }

    .call-rev-box {
        width: 400px;
        height: 100%;
    }

    .call-rev-video-box {
        aspect-ratio: 3;
        height: 100%;
        width: auto;
    }

    .call-rev-swiper {
        height: auto;
    }

    .call-rev-swiper:after {
        background: linear-gradient(to right, #fff 0%, #fff0 15%, #fff0 85%, #fff 100%);
    }

    .call-rev-swiper .swiper-slide {
        width: auto !important;
        height: auto !important;
        display: flex;
    }
}