.cold-email-sec {
    padding-block: 120px;
}

.cold-mail-grid {
    grid-template-columns: repeat(4, 1fr);
}

.cold-mail-item {
    padding: 32px 18px 32px 32px;
    border-radius: 24px;
    border-radius: 24px;
    border: 1px solid #fff0;
    transition: all 0.3s ease-in-out;
}

.cold-mail-item:hover {
    border: 1px solid #ffffff80;
    background: rgba(255, 255, 255, 0.40);
    box-shadow: 0 0 0 1px #8b5cf633;
}

.cold-mail-item h4 {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width:992px) {
    .cold-email-sec {
        padding-block: 90px;
    }

    .cold-mail-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:767px) {
    .cold-email-sec {
        padding-block: 70px;
    }

    .cold-mail-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .cold-email-sec .btn {
        max-width: 100%;
    }

    .cold-mail-item {
        border: 1px solid #ffffff80;
        background: #ffffff66;
        box-shadow: 0 0 0 1px #8b5cf633;
    }
}