.cta-sec {
    padding-block: 120px;
}

.cta-bg {
    bottom: 0;
    right: 40px;
}

.cta-sec .sub-head {
    color: var(--color-accent);
}

.cta-sec h2 {
    letter-spacing: -1.5px;
    line-height: 1.1em;
    font-weight: 700;
    font-size: 60px;
}

.cta-sec h2 span {
    background: linear-gradient(90deg, #7A7A7A 0%, var(--color-black) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cta-stat-grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 600px;
}

.cta-stat-box {
    padding: 17px 25px;
    border-radius: 12px;
    border: 1px solid #4f46e533;
    box-shadow: 0 0 20px 0 #4f46e526, 0 0 10px 1px #4f46e50d inset;
    transition: transform 0.3s ease;
}

.cta-stat-box:hover {
    transform: translateY(-5px);
}

.stat-head {
    letter-spacing: 1px;
    line-height: 1.5em;
}

.stat-head svg {
    color: var(--color-primary);
    font-size: 16px;
}

.stat-body h3 {
    font-size: 24px;
    line-height: 1em;
}

.stat-badge {
    font-size: 11px;
    font-weight: 700;
    line-height: 1.25em;
}

.badge-green {
    color: #22C55E;
}

.cta-sec .btn {
    padding: 16px 45px;
    font-weight: 700;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
    .cta-sec h2 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .cta-sec {
        padding-block: 70px;
    }

    .cta-sec h2 {
        font-size: 34px;
    }

    .cta-stat-box {
        padding: 15px 20px;
    }
}

@media (max-width: 575px) {
    .cta-stat-grid {
        grid-template-columns: 1fr;
    }
}