footer {
    padding-top: 70px;
    border-top: 1px solid #E3E3E3;
}

footer h5 {
    color: var(--color-secondary);
}

.foo-copyright {
    background-color: #141416 !important;
}

@media (max-width: 767px) {
    .copyright {
        font-size: 12px !important;
    }
}